{{ define "main" }}
{{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
{{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

{{ $PageContext := . }}
{{ if .IsHome }}
  {{ $PageContext = .Site }}
{{ end }}
{{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

{{ if .Content }}
<div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
  {{ .Content }}
</div>
{{ end }}

<div class="posts">
  {{ range $paginator.Pages }}
  <div class="post on-list">

    {{ .Scratch.Set "single" "false" }}
    {{ partial "meta" . }}

    {{ if not .Params.hideReadMore }}
    <div>
      <a class="read-more button" href="{{.RelPermalink}}">
        {{ $.Site.Params.ReadMore | default "Read more" }} <i class="fas fa-angle-right arrow"></i>
      </a>
    </div>
    {{ end }}
  </div>
  {{ end }}
  {{ partial "pagination" . }}
</div>
{{ end }}
