{{ define "main" }}
    {{ $isntDefault := not (or (eq (trim $.Site.Params.contentTypeName " ") "posts") (eq (trim $.Site.Params.contentTypeName " ") "")) }}
    {{ $contentTypeName := cond $isntDefault (string $.Site.Params.contentTypeName) "posts" }}

    {{ $PageContext := . }}
    {{ if .IsHome }}
      {{ $PageContext = .Site }}
    {{ end }}
    {{ $paginator := .Paginate (where $PageContext.RegularPages "Type" $contentTypeName) }}

    <div class="posts">
        {{ range $paginator.Pages }}
            <div class="post on-list">
         
                {{ .Scratch.Set "single" "false" }}
                {{ partial "meta" . }}

                <div><a class="read-more button" href="{{.RelPermalink}}">{{ $.Site.Params.ReadMore | default "Read more" }} <i class="fas fa-angle-right arrow"></i></a></div>

            </div>
        {{ end }}

        {{ partial "pagination" . }}
    </div>
{{ end }}
