{{ define "main" }}

  <div class="post">

    {{ .Scratch.Set "single" "true" }}
    {{ partial "meta" . }}

    <hr>

    {{ partial "toc" . }}

    <div class="post-content">
      {{- with .Content -}}
      {{ . | safeHTML }}
      {{- end -}}
    </div>

    {{ partial "scroll-to-top" . }}

    {{ if eq .Type "post" }}
      {{ partial "pagination" . }}
    {{ else if eq .Type "supplement" }}
      <div class="pagination">
        <div class="pagination__title">
          <span class="pagination__title-h">
            {{ $.Site.Params.BackToMainArticle | default "Back to main article" }}
            <a name="back"></a>
          </span>
          <hr />
        </div>
        <div class="pagination__buttons">
          <span class="button previous">
            {{ with .GetPage (strings.TrimSuffix "/" .File.Dir) }}
            <a href="{{ .Permalink }}">
              <span class="button__icon"><i class="fas fa-angle-left"></i></span>
              <span class="button__text">{{ .Title }}</span>
            </a>
            {{ end }}
          </span>
        </div>
      </div>
    {{ end }}

    {{ partial "comments" . }}

  </div>

{{ end }}
