{{ define "main" }}

<div class="terms">
  {{ $type := .Type }}
	<h1>{{ .Title }}</h1>
  <ul class="terms__list">
    {{ range $key, $value := .Data.Terms.Alphabetical }}
      {{ $name := .Name }}
      {{ $count := .Count }}
      {{ with $.Site.GetPage (printf "/%s/%s" $type $name) }}
        <li class="terms__term">
          <a href="{{ .Permalink }}">
			  {{ if eq $type "categories" }}<i class="fas fa-folder icon"></i>{{ else }}<i class="fas fa-tag icon"></i>{{ end }}{{ .Name }}<span class="terms__term-count">{{ $count }}</span>
		  </a>
        </li>
      {{ end }}
    {{ end }}
  </ul>
</div>

{{ end }}
