{{ define "main" }}

  <div class="post">
	
    {{ partial "meta" . }}

    <hr>

    <div class="post-content">
      {{ .Content }}
    </div>

    <div class="pagination">
      <span class="top">
        <a href="{{ .Site.BaseURL }}index.xml">
          <i class="fas fa-rss fa-3x"></i>
        </a>
      </span>
    </div>
	
  </div>

{{ end }}
