<footer class="footer">
	<div class="footer__inner">
		{{ partial "logo" . }}
		<div class="copyright">
			<span><a href="https://gohugo.io" target="_blank" rel="noopener">Framework</a></span>
			<span><a href="https://app.netlify.com/sites/computing-blog/deploys" target="_blank" rel="noopener">Host</a></span>
			<span><a href="https://gitlab.com/eidoom/computing-blog" target="_blank" rel="noopener">Source</a></span>
			<span><a href="https://themes.gohugo.io/hugo-theme-hello-friend/" target="_blank" rel="noopener">Theme</a></span>
			<span>
        <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank" rel="noopener">
          <i class="fab fa-creative-commons fa-lg burger"></i>
          <i class="fab fa-creative-commons-by fa-lg burger"></i>
          <i class="fab fa-creative-commons-sa fa-lg burger"></i>
        </a>
      </span>
		</div>
	</div>
</footer>

{{ $menu := resources.Get "js/menu.js" | js.Build }}
{{ $prism := resources.Get "js/prism.js" | js.Build }}
{{ $theme := resources.Get "js/theme.js" | js.Build }}
{{ $bundle := slice $menu $prism $theme | resources.Concat "bundle.js" | resources.Minify }}
<script type="text/javascript" src="{{ $bundle.RelPermalink }}"></script>

{{- partial "extended_footer.html" . }}

