<header class="header">
  <span class="header__inner">
    {{ partial "logo" . }}
    <span class="header__right">
      {{ if len $.Site.Menus }}
        {{ partial "menu" . }}
        <span class="menu-trigger">
          <i class="fas fa-bars fa-lg burger"></i>
        </span>
      {{ end }}
      <span class="theme-toggle">
        {{ partial "theme-icon" . }}
      </span>
    </span>
  </span>
</header>
