{{ $hourInSec := 3600 }}

{{ if gt .Lastmod (add (time .Date).Unix $hourInSec) }}
  {{ with .Lastmod }}
    <span class="post-moddate meta-item">
      <i class="fas fa-edit meta-icon"></i>{{ .Format ($.Site.Params.DateFormatSingle | default "2006-01-02") }}
    </span>
  {{ end }}
{{ end }}
