<h1 class="post-title">
	<a href="{{ .Permalink }}">
		{{ .Title | markdownify }}
	</a>
</h1>

<div class="post-meta">

	{{ if .Date }}
	<span class="post-date meta-item">
		<i class="fas fa-calendar meta-icon"></i>{{ .Date.Format ($.Site.Params.DateFormatList | default "2006-01-02") }}
	</span>
	{{ if $.Site.Params.LastModDisplay }}
		{{ partial "lastmod.html" . }}
	{{ end }}
	{{ end }}

	{{ with .Params.Author }}
	<span class="post-author meta-item">
		<i class="fas fa-pen meta-icon"></i>
		{{ . }}
	</span>
	{{ end }}

	{{ if $.Site.Params.ShowReadingTime }}
	<span class="post-read-time meta-icon">
		<i class="fas fa-clock meta-icon"></i>{{ .ReadingTime }} {{ $.Site.Params.MinuteReadingTime | default "min read" }}
	</span>
	{{ end }}

</div>

<span class="post-tags">
	{{ if .Params.categories }}
	{{ range .Params.categories | sort }}
	<a href="{{ (urlize (printf "categories/%s" . )) | absURL }}/" class="meta-item">
		<i class="fas fa-folder meta-icon"></i>{{ . }}
	</a>
	{{ end }}
	{{ end }}

	{{ if .Params.tags }}
	{{ range .Params.tags | sort }}
	<a href="{{ (urlize (printf "tags/%s" . )) | absURL }}/" class="meta-item">
		<i class="fas fa-tag meta-icon"></i>{{ . }}
	</a>
	{{ end }}
	{{ end }}
</span>

{{ if .Params.Cover }}
	{{ partial "postcover.html" . }}
{{ end }}

<div class="post-content">
	{{ with .Description }}
		{{ . | markdownify }}
	{{ end }}
</div>
