{{ with .NextInSection }}
  {{ if eq .Type "post" }}
		<span class="button previous">
			<a href="{{ .Permalink }}">
				<span class="button__icon"><i class="fas fa-angle-left"></i></span>
				<span class="button__text">{{ .Title }}</span>
			</a>
		</span>
  {{ else }}
    {{ partial "nextpage" . }}
  {{ end }}
{{ end }}
