<div class="pagination">
  {{ if .IsPage }}
    {{ if or .NextInSection .PrevInSection }}
      <div class="pagination__title">
        <span class="pagination__title-h">{{ $.Site.Params.ReadOtherPosts | default "Read other posts" }}</span>
        <hr />
      </div>
      <div class="pagination__buttons">
        {{ partial "nextpage" . }}
        {{ partial "prevpage" . }}
      </div>
    {{ end }}
  {{ else }}
    <div class="pagination__buttons">
      {{ if .Paginator.HasPrev }}
        <span class="button previous">
          <a href="{{ .Paginator.Prev.URL }}">
            <span class="button__icon"><i class="fas fa-angle-left"></i></span>
            <span class="button__text">{{ $.Site.Params.NewerPosts | default "Newer posts" }}</span>
          </a>
        </span>
      {{ end }}
      {{ if .Paginator.HasNext }}
        <span class="button next">
          <a href="{{ .Paginator.Next.URL }}">
            <span class="button__text">{{ $.Site.Params.OlderPosts | default "Older posts" }}</span>
            <span class="button__icon"><i class="fas fa-angle-right"></i></span>
          </a>
        </span>
      {{ end }}
    </div>
  {{ end }} 
</div>
