<figure class="post-cover">
  <a href="{{ .Permalink }}">
    {{ $src := cond (eq .Params.UseRelativeCover "true") (printf "%s%s" .Permalink .Params.Cover) (.Params.Cover | absURL) }}
    {{ $list := not (eq (.Scratch.Get "single") "true") }}
    <img
      src="{{ $src }}"
      alt="{{ .Params.CoverAlt | plainify | default .Title }}"
      {{ if and $list .Params.Clip }}
        {{ with .Params.Clip }}
          {{ $right := sub 50 (int .) }}
          style="margin: -{{ . }}% auto -{{ $right }}% auto; clip-path: inset({{ . }}% 0% {{ $right }}% 0% round 8px);"
        {{ end }}
      {{ end}}
    />
  </a>

  {{ if .Params.CoverCaption }}
    <figcaption class="center">{{ .Params.CoverCaption | markdownify }}</figcaption>
  {{ end }}
</figure>
