{{ with .PrevInSection }}
  {{ if eq .Type "post" }}
		<span class="button next">
			<a href="{{ .Permalink }}">
				<span class="button__text">{{ .Title }}</span>
				<span class="button__icon"><i class="fas fa-angle-right"></i></span>
			</a>
		</span>
  {{ else }}
    {{ partial "prevpage" . }}
  {{ end }}
{{ end }}
