{{ if ( or ( and ( gt .WordCount 400 ) (or .Params.toc $.Site.Params.Toc ) ) .Params.force_toc ) }}

<h2>Table of Contents</h2>
<aside class="table-of-contents">
    {{ .TableOfContents }}
</aside>
<hr>

{{ end }}
