html {
    scroll-behavior: smooth;
}

:root {
    /* light theme color */
    --light-highlight: #80c79a;
    /* dark theme colors */
    --dark-highlight: rgba(241, 143, 72, 0.8);

    --shadow-blur: 10px;
    --shadow-spread: -3px;
    --shadow-h-offset: 0px;

    --fade-in-duration: 150ms;
    --fade-out-duration: 200ms;
}

.footer.footer>div.footer__inner>div.copyright>span:not(:last-child) {
    border-right: 1px solid;
    padding-right: 10px;
    margin-right: 10px;
}

.copyright a {
    text-decoration: none;
}

.copyright img {
    transition-property: box-shadow;
    transition-duration: var(--fade-out-duration);
    transition-timing-function: ease-out;
}

.copyright img:hover {
    box-shadow: 0 var(--shadow-h-offset) var(--shadow-blur) var(--shadow-spread) var(--light-highlight);
    transition-property: box-shadow;
    transition-duration: var(--fade-in-duration);
    transition-timing-function: ease-in;
}

.dark-theme .copyright img:hover {
    box-shadow: 0 var(--shadow-h-offset) var(--shadow-blur) var(--shadow-spread) var(--dark-highlight);
}

@media screen and (max-width: 900px) {
    .footer.footer>div.footer__inner>div.copyright>span:not(:last-child) {
        border: none;
        padding: 0;
        margin: 0;
    }
}

ul.terms__list {
    list-style-type: none;
}

i.icon {
    margin-right: 7px;
}

i.meta-icon {
    margin-right: 5px;
}

i.sub-icon {
    margin-left: 9px;
}

i.arrow {
    margin-left: 7px;
}

.meta-item {
    margin-right: 7px;
    white-space: nowrap;
}

.hanchor {
    margin-left: 5px;
    font-size: 67%;
    vertical-align: middle;
}

a.hanchor {
    text-decoration: none;
}

a {
    transition-property: color;
    transition-duration: var(--fade-out-duration);
    transition-timing-function: ease-out;
}

a:hover {
    color: var(--light-highlight);
    transition-property: color;
    transition-duration: var(--fade-in-duration);
    transition-timing-function: ease-in;
}

.dark-theme a:hover {
    color: var(--dark-highlight);
}

a.read-more:hover {
    color: var(--light-highlight);
}

.dark-theme a.read-more:hover {
    color: var(--dark-highlight);
}

span.button {
    transition-property: box-shadow;
    transition-duration: var(--fade-out-duration);
    transition-timing-function: ease-out;
}

span.button:hover {
    box-shadow: 0 var(--shadow-h-offset) var(--shadow-blur) var(--shadow-spread) var(--light-highlight);
    transition-property: box-shadow;
    transition-duration: var(--fade-in-duration);
    transition-timing-function: ease-in;
}

.dark-theme span.button:hover {
    box-shadow: 0 var(--shadow-h-offset) var(--shadow-blur) var(--shadow-spread) var(--dark-highlight);
}

span.button>a:hover {
    color: var(--light-color);
}

.dark-theme span.button>a:hover {
    color: var(--dark-color);
}

span.top {
    display: table;
    margin: 0 auto;
}

i.burger {
    vertical-align: -25%;
}

.theme-toggle {
    transition-property: color;
    transition-duration: var(--fade-out-duration);
    transition-timing-function: ease-out;
}

.theme-toggle:hover {
    color: var(--light-highlight);
    transition-property: color;
    transition-duration: var(--fade-in-duration);
    transition-timing-function: ease-in;
}

.dark-theme .theme-toggle:hover {
    color: var(--dark-highlight);
}

.theme-toggle:not(:active) {
    transform: rotate(360deg);
    transition-property: transform;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

table.borderless, table.borderless>tbody>tr>td {
    border: none;
}

table.borderless {
    width: auto;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom:20px;
}

.window {
    width: 100%;
    height: 90vh;
    background: white;
    border: none;
}

#particle-box {
    height: 1000px;
}

.sq-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}
