<a href="https://github.com/{{ if .Get 1 }}{{ .Get 0 }}/{{ .Get 1 }}{{else}}eidoom/{{ .Get 0 }}{{ end }}"><code>{{ if .Get 1 }}{{ .Get 0 }}/{{ .Get 1 }}{{ else }}{{ .Get 0 }}{{ end }}</code></a>{{- "" -}}
